NEXT_PUBLIC_APP_BASE_PATH=
AUTH_TOKEN_PEPPER=

RESEND_API_KEY=
CORRESPONDENCE_EMAIL=manu@intentionalsets.com
EMAIL_FROM="Fit East London <info@intentionalsets.com>"
EMAIL_REPLY_TO=manu@intentionalsets.com
COACH_NOTIFICATION_EMAILS=manu@intentionalsets.com
APP_URL=http://localhost:3000

CREDIT_ON_NO_SHOW=true
CRON_SECRET=
