NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

RESEND_API_KEY=
CORRESPONDENCE_EMAIL=manu@intentionalsets.com
EMAIL_FROM="Fit East London <manu@intentionalsets.com>"
EMAIL_REPLY_TO=manu@intentionalsets.com
COACH_NOTIFICATION_EMAILS=manu@intentionalsets.com
APP_URL=http://localhost:3000

CREDIT_ON_NO_SHOW=true
CRON_SECRET=
